<body>



    <section class="hero py-16">

        <div class="container mx-auto px-14 flex items-center justify-between">
            <div class="right w-1/2">

                <h1 class="text-lg font-thin px-3"> <em>Easy Breezy Cheesy</em></h1>
                <h6 class="text-6xl font-bold"><em>Don't Wait!!</em></h6>
                <button class="rounded-full px-5 py-2 mt-2 text-white font-bold btn-primary">Order Now</button>

            </div>

            <div class="left w-1/2">

                <img class="img1 mix-blend-mode: multiply;" src="/img/pizza.jpg" alt="">

            </div>

        </div>
    </section>

     <section class="menu container mx-auto py-8">
          
         <h1 class="font-medium px-3">Pick Your Favourite(s)</h1>
         <div  class="grid grid-cols-4 row-gap-16 col-gap-12">

            <% pizzas.forEach(function(pizza){ %>

            <div class="w-64">
                <img  class="h-40 mb-3 mx-auto px-1 py-1 mt-2" src="/img/<%=pizza.image %>" alt="">

                <div class="text-center">
                    <h2 class="mb-4  font-medium"><%=pizza.name%></h2>
                    <span class=" size font-medium py-1 px-4 rounded-full text-xs uppercase "><%=pizza.size%></span>

                    <div class="flex items-center justify-around mt-6">
                        <span class="px-6 font-bold">₹<%=pizza.price%></span>
                        <button data-pizza="<%= JSON.stringify(pizza)  %>" class="py-1 px-5 add-to-cart rounded-full flex items-center">
                            <span>+</span>
                            <span class="font-medium ml-3">Add</span>
                        </button>
                    </div>
                </div>
            </div>
             <% })%>



        




         </div>

    </section> 


   
    <!-- <div class="welcome-msg  ">

        <h6 class=" ml-4 mt-7 text-3xl welcome-text font-bold px-4 py-3">Welcome to Pizzalicious.com - where pizza
            lovers unite!</h6>

        <h6 class="  ml-4  mt-4 font-medium px-3 py-3"> Discover a World of Flavors, One Slice at a Time</h6>

        <p class="  ml-6 mt-4 font-light">What’s better than having a crispy melty pizza, you ask?</p>

        <p class="  ml-6 mt-4 font-light">We take pride in crafting each pizza with passion and precision, using the
            freshest ingredients to ensure a taste that's truly unforgettable. Whether you crave the timeless perfection
            of a classic Margherita or the bold flavors of our unique creations, we've got a pizza for every palate. Our
            commitment to quality, flavor, and tradition shines through in every slice we serve. Join us on a culinary
            journey where the art of pizza-making meets your cravings</p>

        <p class="  ml-6 mt-3 font-light">We're not just about serving pizza; we're about creating experiences. From the
            crisp bite of our crust to the harmonious blend of toppings, each slice tells a story of craftsmanship and
            flavor. Our menu offers something for everyone, whether you're a fan of traditional favorites or crave a
            slice of adventure. </p>


    </div>
    <div class="inline-block">
        <img class=" pizza-slice mt-6 ml-9  w-55" src="/img/slice-crispy-pizza.jpg" alt="">

    </div> -->


    


    <!-- <footer class="">
        <div class="home-footer mt-9  mx-auto flex items-start justify-between py-2 ">
            

                <ul class=" mt-3 ml-7 ">

                    <a href="/menu.ejs" class=" l1 ml-1">
                        MENU
                    </a>
                    <li>Margherita</li>
                    <li>Barbeque</li>

                </ul>


                <ul class="mt-3">

                    <li class=" l1 footer-items ml-10">
                        PIZZA RESTAURAUNTS</li>

                    <li class="ml-10">Kolkata</li>
                    <li class="ml-10">Bengaluru</li>


                </ul>

                <ul class="mt-3">

                    <li class=" l1 footer-items ml-10">
                        CONTACT</li>

                    <li>+91 7439398289</li>

                </ul>

                <ul class="mt-3">
                    <li class=" l1  footer-items ml-16">
                        SOCIAL MEDIA
                    </li>

                    <a href="/">facebook</a>
                    <a href="/">X</a>
                    <a href="/">Instagram</a>

                </ul>

            




        </div>

        <div class=" flex copyright"> <span
                class="items-center justify-between font-thin mx-auto text-sm text-gray-300 mt-5">All rights reserved
                Copyright &copy;</span></div>


    </footer> -->





    <script src="js/app.js"></script>
</body>

</html>